<%- include('./partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
</head>
<body>
    <h1><%= games.name %> </h1>
    <br>
    <img src="<%= games.img %>" alt="<%= games.name %>">
    <br>
    <%=games.name %> price is $<%=games.price%> 
    <br>
    Reviews: <%= games.review %>


    <form form action="/games/<%=games.id; %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
    </form>

    <form action="/games/<%=games.id%>/buy?_method=PUT" method="POST">
      <button class="buy-button">Buy</button>
    </form>
  

    <button><a href="/games/<%=games.id; %>/edit">Edit</a> </button>

    <br>
    <br>

    <nav>
      <button> <a href="/games">Back To Home Page</a> </button>
    </nav>


<%- include('./partials/footer.ejs') %>